In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import statistics
import re

In [5]:
df_trans=pd.read_csv("h-and-m-personalized-fashion-recommendations/transactions_train.csv")

In [7]:
df_articles=pd.read_csv("h-and-m-personalized-fashion-recommendations/articles.csv")

In [9]:
df_customers=pd.read_csv("h-and-m-personalized-fashion-recommendations/customers.csv")

In [10]:
df_trans.groupby(df_trans.t_dat).article_id.count().sort_values(ascending=False)[0:10]

t_dat
2019-09-28    198622
2020-04-11    162799
2019-11-29    160875
2018-11-23    142018
2018-09-29    141700
2019-07-24    124683
2019-04-06    119601
2020-06-17    110981
2019-11-28    106257
2019-06-19    104052
Name: article_id, dtype: int64

In [11]:
df_trans['date_time']=pd.to_datetime(df_trans.t_dat)

In [12]:
type_of_item_purchased=df_trans.groupby(['date_time','customer_id']).article_id.nunique().tolist()

In [13]:
statistics.mean(type_of_item_purchased)

3.1470078948884157

In [14]:
df1=df_trans.copy()

In [15]:
df1

,t_dat,customer_id,article_id,price,sales_channel_id,date_time
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018-09-20
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018-09-20
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2018-09-20
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018-09-20
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018-09-20
...,...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2,2020-09-22
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2,2020-09-22
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1,2020-09-22
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1,2020-09-22
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2,2020-09-22

In [16]:
df1["week"] = (df1["date_time"] - df1["date_time"].min()).dt.days // 7
df1["week"].value_counts()

39    628176
91    537252
62    509880
40    493864
92    478081
       ...
66    207505
78    206631
60    192719
77    191456
63    183162
Name: week, Length: 105, dtype: int64

In [17]:
df1["day"] = (df1["date_time"] - df1["date_time"].min()).dt.days
df1["day"].value_counts()

373    198622
569    162799
435    160875
64     142018
9      141700
        ...
103     18145
2       17635
96      14799
461     13637
468     12760
Name: day, Length: 734, dtype: int64

In [18]:
list1=[]
for i in range(df1.day.min(),df1.day.max()):
    b=df1[df1.day==i].groupby(df1.article_id).price.sum().sort_values(ascending=False)[0:10].index.values
    for j in range(len(b)):
        list1.append(b[j])

In [19]:
df1.day.max()

733

In [20]:
len(set(list1))

1695

In [21]:
df1

,t_dat,customer_id,article_id,price,sales_channel_id,date_time,week,day
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018-09-20,0,0
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018-09-20,0,0
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2018-09-20,0,0
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018-09-20,0,0
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018-09-20,0,0
...,...,...,...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2,2020-09-22,104,733
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2,2020-09-22,104,733
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1,2020-09-22,104,733
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1,2020-09-22,104,733
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2,2020-09-22,104,733

In [22]:
b=df1[df1.day==0].groupby(df1.article_id).price.sum().sort_values(ascending=False)[0:10].index.values
df2=df1[df1.day==0][df1.article_id.isin(b)]
for i in range(1,734):
    b=df1[df1.day==i].groupby(df1.article_id).price.sum().sort_values(ascending=False)[0:10].index.values
    df_temp=df1[df1.day==i][df1.article_id.isin(b)]
    df2=pd.concat([df2,df_temp])
df2

/Users/yuenchitcheng/opt/anaconda3/envs/New/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/yuenchitcheng/opt/anaconda3/envs/New/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

,t_dat,customer_id,article_id,price,sales_channel_id,date_time,week,day
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018-09-20,0,0
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018-09-20,0,0
5,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687001,0.016932,2,2018-09-20,0,0
165,2018-09-20,00d781e94d9a533dceb85a8d50a898d5987ad9921ea8c6...,685687004,0.016932,2,2018-09-20,0,0
236,2018-09-20,014cbfc591254f0cf30df52b660f94dead60c8d3eafc00...,685687004,0.016932,2,2018-09-20,0,0
...,...,...,...,...,...,...,...,...
31788114,2020-09-22,fdfd55a82781e51b05301b269fc91dfab6cf048f0e29e5...,918522001,0.042356,2,2020-09-22,104,733
31788146,2020-09-22,fe250416050569431243457fc731491f8f4503f15f9496...,877769001,0.059305,2,2020-09-22,104,733
31788194,2020-09-22,febcfe62c04f9516ee7ce0cd2b76f6608a1204efb9a6dd...,788575004,0.039932,2,2020-09-22,104,733
31788227,2020-09-22,feeea34bc8517c692eed5c4e203d421497f06dc16f79c3...,924243002,0.042356,1,2020-09-22,104,733
31788308,2020-09-22,ffcd5ff3fd5b9ee6b984c143c973fd2697ca141483d381...,918522001,0.042356,2,2020-09-22,104,733

In [23]:
df3=df2.groupby(['day','article_id']).price.sum().reset_index()

In [24]:
df3

      day  article_id     price
0       0   399136004  3.284000
1       0   399201005  6.526203
2       0   524825013  4.544797
3       0   534181005  3.295085
4       0   666006006  5.984119
...   ...         ...       ...
7335  733   898692006  3.918780
7336  733   918522001  3.792746
7337  733   924243002  4.482797
7338  733   929275001  3.328780
7339  733   934536001  3.358492

[7340 rows x 3 columns]

In [25]:
df3.article_id=df3.article_id.astype('str')

In [26]:
df4=pd.get_dummies(df3,columns=['article_id'])

In [27]:
df5=df4.groupby('day').sum()

In [28]:
df5

,price,article_id_111586001,article_id_188183021,article_id_188183022,article_id_278811006,article_id_312878001,article_id_312878005,article_id_351484039,article_id_399061008,article_id_399061015,...,article_id_933838002,article_id_933891001,article_id_933989001,article_id_934536001,article_id_934793001,article_id_934835001,article_id_935689001,article_id_935892001,article_id_938182001,article_id_946748004
day,,,,,,,,,,,,,,,,,,,,,
0,48.808525,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,46.378542,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,13.486102,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,62.286542,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,46.416661,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,56.025898,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
730,36.742068,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
731,36.647678,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
732,36.407831,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
733,37.562373,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [29]:
df6=df5.drop(columns='price')

#####

In [30]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

Using TensorFlow backend.

In [31]:
train_size = int(len(df6) * 0.75) 
test_size = len(df6) - train_size
train = df6.iloc[0:train_size, :]

In [32]:
train

,article_id_111586001,article_id_188183021,article_id_188183022,article_id_278811006,article_id_312878001,article_id_312878005,article_id_351484039,article_id_399061008,article_id_399061015,article_id_399136004,...,article_id_933838002,article_id_933891001,article_id_933989001,article_id_934536001,article_id_934793001,article_id_934835001,article_id_935689001,article_id_935892001,article_id_938182001,article_id_946748004
day,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
546,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
547,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
548,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
549,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
X_train = []
y_train = []
for i in range(60, 550):
    X_train.append(train.iloc[i-60:i, :]) 
    y_train.append(train.iloc[i, :])
X_train, y_train = np.array(X_train), np.array(y_train)

In [34]:
X_train.shape

(490, 60, 1697)

In [35]:
regressor = Sequential()

regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1],X_train.shape[2])))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))
regressor.add(Dense(units = y_train.shape[1],activation='softmax'))
#regressor.add(Activation('sigmoid'))
regressor.compile(optimizer = 'adam', loss = 'categorical_crossentropy')

regressor.fit(X_train, y_train, epochs = 10, batch_size = 32)

2022-03-28 18:16:36.213441: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-03-28 18:16:36.214993: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

Epoch 1/10
490/490 [==============================] - 14s 28ms/step - loss: 73.8006
Epoch 2/10
490/490 [==============================] - 11s 23ms/step - loss: 69.7684
Epoch 3/10
490/490 [==============================] - 9s 19ms/step - loss: 65.7196
Epoch 4/10
490/490 [==============================] - 9s 18ms/step - loss: 63.9660
Epoch 5/10
490/490 [==============================] - 9s 19ms/step - loss: 63.1734
Epoch 6/10
490/490 [==============================] - 9s 18ms/step - loss: 63.0190
Epoch 7/10
490/490 [==============================] - 9s 18ms/step - loss: 63.2521
Epoch 8/10
490/490 [==============================] - 10s 21ms/step - loss: 63.8386
Epoch 9/10
490/490 [==============================] - 11s 22ms/step - loss: 64.6274
Epoch 10/10
490/490 [==============================] - 9s 18ms/step - loss: 65.6578

In [36]:
test=df6.iloc[train_size-60:len(df6), :]

In [37]:
len(df6)

734

In [38]:
test.shape

(244, 1697)

In [39]:
test

,article_id_111586001,article_id_188183021,article_id_188183022,article_id_278811006,article_id_312878001,article_id_312878005,article_id_351484039,article_id_399061008,article_id_399061015,article_id_399136004,...,article_id_933838002,article_id_933891001,article_id_933989001,article_id_934536001,article_id_934793001,article_id_934835001,article_id_935689001,article_id_935892001,article_id_938182001,article_id_946748004
day,,,,,,,,,,,,,,,,,,,,,
490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
730,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [40]:
X_test=[]
for i in range(60, test_size+60):
    X_test.append(test.iloc[i-60:i, :]) 
    
X_test = np.array(X_test)

In [41]:
X_train.shape

(490, 60, 1697)

In [42]:
X_test.shape

(184, 60, 1697)

In [43]:
X_test

array([[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       ...,

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]], dtype=uint8)

In [44]:
pred=regressor.predict(X_test)

In [45]:
pred.shape

(184, 1697)

In [46]:
pred

array([[1.9523215e-04, 2.7549757e-05, 3.3742934e-05, ..., 7.2827697e-07,
        5.9069356e-07, 6.3713651e-07],
       [1.9523210e-04, 2.7549751e-05, 3.3742930e-05, ..., 7.2827686e-07,
        5.9069345e-07, 6.3713640e-07],
       [1.9523210e-04, 2.7549751e-05, 3.3742930e-05, ..., 7.2827686e-07,
        5.9069345e-07, 6.3713640e-07],
       ...,
       [1.9523228e-04, 2.7549788e-05, 3.3742974e-05, ..., 7.2827777e-07,
        5.9069481e-07, 6.3713787e-07],
       [1.9523222e-04, 2.7549780e-05, 3.3742963e-05, ..., 7.2827754e-07,
        5.9069464e-07, 6.3713765e-07],
       [1.9523225e-04, 2.7549782e-05, 3.3742966e-05, ..., 7.2827766e-07,
        5.9069470e-07, 6.3713776e-07]], dtype=float32)

In [47]:
len(pred)

184

In [48]:
count=0
for j in range(0,len(pred)):
    pred_list=[]
    b=np.argpartition(pred[j], -10)[-10:]
    a=df6.columns.values[b]
    for i in a:
        m=re.findall('\d+',i)
        pred_list.append(m[0])
    v=np.array(pred_list)
    k=df3[df3.day==(550+j)].article_id.values

    count+=len(np.intersect1d(v, k))
accuracy=count/(10*len(pred))
accuracy

0.07989130434782608

In [49]:
b

array([ 747,  328,  472,   15,   86, 1022,  418,  521,  417,  416])

In [50]:
pred

array([[1.9523215e-04, 2.7549757e-05, 3.3742934e-05, ..., 7.2827697e-07,
        5.9069356e-07, 6.3713651e-07],
       [1.9523210e-04, 2.7549751e-05, 3.3742930e-05, ..., 7.2827686e-07,
        5.9069345e-07, 6.3713640e-07],
       [1.9523210e-04, 2.7549751e-05, 3.3742930e-05, ..., 7.2827686e-07,
        5.9069345e-07, 6.3713640e-07],
       ...,
       [1.9523228e-04, 2.7549788e-05, 3.3742974e-05, ..., 7.2827777e-07,
        5.9069481e-07, 6.3713787e-07],
       [1.9523222e-04, 2.7549780e-05, 3.3742963e-05, ..., 7.2827754e-07,
        5.9069464e-07, 6.3713765e-07],
       [1.9523225e-04, 2.7549782e-05, 3.3742966e-05, ..., 7.2827766e-07,
        5.9069470e-07, 6.3713776e-07]], dtype=float32)

In [51]:
test

,article_id_111586001,article_id_188183021,article_id_188183022,article_id_278811006,article_id_312878001,article_id_312878005,article_id_351484039,article_id_399061008,article_id_399061015,article_id_399136004,...,article_id_933838002,article_id_933891001,article_id_933989001,article_id_934536001,article_id_934793001,article_id_934835001,article_id_935689001,article_id_935892001,article_id_938182001,article_id_946748004
day,,,,,,,,,,,,,,,,,,,,,
490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
730,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [52]:
X_test_real=df6.iloc[len(df6)-60:len(df6), :]
    
X_test_real = np.array(X_test_real)

In [53]:
X_test_real = np.reshape(X_test_real, (1,X_test_real.shape[0], X_test_real.shape[1]))

In [54]:
pred_real=regressor.predict(X_test_real)

In [55]:
pred_real[0]

array([1.9523222e-04, 2.7549780e-05, 3.3742963e-05, ..., 7.2827754e-07,
       5.9069464e-07, 6.3713765e-07], dtype=float32)

In [56]:
pred_real_list=[]
b=np.argpartition(pred_real[0],-10)[-10:]
a=df6.columns.values[b]
for i in a:
    m=re.findall('\d+',i)
    pred_real_list.append(m[0])
pred_real_list

['751471001',
 '689109001',
 '714790003',
 '399201002',
 '568601006',
 '790006001',
 '706016003',
 '720125001',
 '706016002',
 '706016001']